<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015885835938-tfoucpl4qrqo4nbtuge8jsrgi8rg9lfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015885835938-tfoucpl4qrqo4nbtuge8jsrgi8rg9lfg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015885835938-pcvma77abmd9h1uvt0q38e7a6pim1u53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAmnjeximUY2QpAjKtDYg0lLEZrM0lSdo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015885835938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byyu</string>
	<key>PROJECT_ID</key>
	<string>byyu-a656a</string>
	<key>STORAGE_BUCKET</key>
	<string>byyu-a656a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015885835938:ios:724e9faa8fe8c96d2a71fb</string>
</dict>
</plist>